/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Ecole
 *	4.2 - Cours
 *	4.3	- Evenements
 *	4.4 - Tarifs
  *	4.5 - Contact
 * 5.0 - Portfolio
 * 6.0 - Page 404
 * 7.0 - Planning

 * ----------------------------------------------------------------------------
 */



/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

.container {
	position: relative;
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}


// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

#lightbox {
	img {
		max-width: 1000px;
		height: auto !important;
	}
}

/**
 * 2.0 Typography 
 * ----------------------------------------------------------------------------
 */ 
 
// Insert styles here

h1, h2 {
	text-transform: uppercase;
	margin: 30px 0 20px 0;
	&:before {
		content: '// ';
	}
	font-weight: 200;
} 

#equipe h4, #contact h2 {
	font-family: 'Alex Brush', $body-font-family;
}

h3 {
	text-transform: uppercase;
	border-bottom: solid 1px $primary-color;
	&:before {
		content: '> ';
	}
} 

h4 {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0;
}

h5 {
	font-weight: 600;
}

.highlight {
	color: $primary-color;
}
.intro {
	font-weight: 600;
}

.button, button {
	text-transform: uppercase;
	font-weight: 600;
	&:before {
		content: '> ';
	} 
}

/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */


// .blocinfo {
// 	background: $primary-color;
// 	color: #fff;
// 	z-index: 300;
// 	overflow: hidden;
// 	padding: 10px;
// 	position: absolute;
// 	top: -40px;
// 	left: 0;
// 	right: 0;
// 	text-align: center;
// 	a {
// 		color: #fff;
// 		text-decoration: underline;
// 	}
// 	p {
// 		margin: 0;
// 	}
// } 

#banner {
	@include radial-gradient(#ecebeb, #cecccc);
	overflow: hidden;
	display: block;
	position: relative;
	.infos {
		position: absolute;
		background: rgba(248, 243, 239, 0.9);
		width: 100%;
		margin: 40px auto;
		max-width: 400px;
		padding: 20px;
		text-align: center;
		font-size: 75%;
		font-style: italic;
	}
	// div {
	// 	position: absolute;
	//     top: 0;
	//     left: 0;
	//     right: 0;
	//     width: 100%;
	//     display: block;
	//     height: 100%;
	//     margin: 0 auto;
	// 	&.ban-1 {
	// 		background: url('../assets/img/images/slide-01.png') center center no-repeat;
 //      		background-size: 100% auto;
	// 	}
	// 	&.ban-2 {
	// 		background: url('../assets/img/images/slide-02.png') center center no-repeat;
 //      		background-size: 80% auto;
	// 	}
	// 	&.ban-3 {
	// 		background: url('../assets/img/images/slide-03.png') center center no-repeat;
 //      		background-size: 90% auto;
	// 	}

		// @media #{$medium-up} {
		// 	background-size: auto;
		// 	top: 40%;
		// 	&.ban-1 {
		// 		width: 703px;
		// 		background-position: 80% -110px;
		// 		height: 1058px;
		// 		margin-top: -359px;
		// 	}
		// 	&.ban-2 {
		// 		width: 523px;
		// 		background-position: 80% -138px;
		// 		height: 1088px;
		// 		margin-top: -304px;
		// 		left: -100px; 
	 //      	}
	 //        &.ban-3 {
		// 		width: 604px;
		// 		background-position: 80% -19px;
		// 		height: 1099px;
		// 		margin-top: -549px;
		// 		left: -100px; 
	 //      	}
		// }
	// }

	.scrolldown {
		opacity: 0.6;
		left: 50%;
		margin-left: -18px;
		width: 36px;
		height: 36px;
		display: block;
		background: lighten($primary-color, 20%);
		position: absolute;
		bottom: 90px;
		border-radius: 34px;
		transition: opacity 0.5s;
		&:hover, &:focus, &:active {
			opacity: 0.8;
		}
		&:after {
			position: absolute;
			top: 14px;
			left: 10px;
			content: '';
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 12px solid white;
		}
		&:before {
			left: 18px;
			top: 45px;
			position: absolute;
			content: '';
			width: 1px;
			height: 25px;
			display: block;
			background: lighten($primary-color, 20%);
		}
	}
}

// .home #banner {
// 	height: 700px;
// } 

.category #banner {
	height: 180px;
	div.ban-1 {
		background: url('../assets/img/images/slide-01.png') 50% -300px no-repeat;
		width: 703px;
		height: 1058px;
	}
}


.orbit-container {
	margin-bottom: 90px;
}

.orbit-bullets-container {
	position: absolute;
	z-index: 300;
	right: 30px;
	bottom: 0;
}

// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}

nav {
	height: 60px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 900;
	background: rgba(255,255,255,0.8);
	@media #{$medium-up} {
		height: auto;
	}

	.menu-mob {
		display: block;
		z-index: 100;
		width: 40px;
		top: 10px;
		right: 10px;
		position: absolute;
		padding: 5px;
		&:before, &:after, span {
			position: relative;
			content: '';
			width: 30px;
			height: 5px;
			background: $primary-color;
			display: block;
		}
		span, &:after {margin-top: 5px}
		@media #{$medium-up} {
			display: none;
		}
	}
}

ul#menu-main-menu {
	position: relative;
	@include grid-column(12);
	margin: 0;
	padding: 0;
	height: 60px;
	li {
		background-color: rgba(255,255,255,0.9);
		text-align: center;
		list-style-type: none;
		padding: 0 20px;
		display: none;
		&.accueil {
			height: 54px;
			position: relative;
			z-index: 20;
			padding: 0 12px;
			background-color: transparent;
			display: block;
			a {
				border-color: transparent;
				padding: 15px 0 0 75px;
				@include background-img('../assets/img/images/logo',png, 75px,57px);
				background-size: 60px 45px !important;
				background-repeat: no-repeat;
				width: 0;
				height: 54px;
				display: block;
				overflow: hidden;
				position: relative;
				z-index: 100;
				margin-top: 6px;
			}
		}
	}
	a {
		border-bottom: solid 1px $primary-color;
		padding: 10px;
		display: block;
		text-transform: uppercase;
	}


	.facebook {
		a {
			border-color: transparent;
		}
	}

	@media #{$medium-up} {
		overflow: visible;
		visibility: visible;
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 10px 20px;
		height: 79px;
		li {
			display: block;
			background-color: transparent;
			float: left;
			padding: 0 5px;
			a {
				border-color: transparent;
				display: block;
				padding: 20px 6px;
				text-transform: uppercase;
				&:before {
					content: '/';
				}
			}
			&.active {
				a {
					color: black;
				}
			}
			&.accueil {
				padding: 0;
				margin-left: -30px;
				a {
					background-size: 75px 57px !important;
					height: 57px;
					margin: 0 auto;
					padding-left: 90px;
					width: 0;
					text-indent: 200px;
					overflow: hidden;
				}
			}
			// Facebook
			&.facebook a {
				float: right;
				width: 0;
				padding: 0 0 0 34px;
				height: 34px;
				overflow: hidden;
				display: block;
				background-color: lighten($primary-color, 28%);
				@include background-img('../assets/img/images/facebook',png,9px,18px);
				background-repeat: no-repeat;
				background-position: center center;
				border-radius: 34px;
				position: absolute;
				top: 22px;
				right: 0;
				&:hover, &:focus, &:active {
					background-color: lighten($primary-color, 20%);
				}
			}
		}
	}
	@media #{$large-up} {
		li.accueil {
			position: absolute;
			top: 10px;
			left: 0;
			display: block;
			margin-left: -75px;
		}		
	}
}

.menu-main-menu-container {
	@include grid-row;
}


/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */

 section.container {
 	position: relative;
 }

 
	

	/**
	 * 4.1 Ecole
	 * ------------------------------------
	 */

	 #ecole {
	 	article {
			position: relative;
			z-index: 100;
		}
	 }

	 #studio, .generique {
	 	article {
			@include grid-column(12);
			position: relative;
			z-index: 100;
		}
		@include linear-gradient(#fefefe, #f6f6f6);
		border-top: solid 60px $beige;
		height: 363px;
		display: block;
		overflow: hidden;

		@media #{$medium-up} {
			border-top: solid 79px $beige;
			padding-top: 30px;
		}

		@media #{$large-up} {
			padding-top: 0;
		}

		.bg-studio {
			position: absolute;
			width: 597px;
			height: 363px;
			top: 0;
			right: 0;
			overflow: hidden;
			> div {
				position: absolute;
				z-index: 10;
				top: 0;
				right: -100px;
				display: block;
				width: 597px;
				height: 874px;
				background-image: url('../assets/img/images/bg-studio.png');
				background-repeat: no-repeat;
				background-position: right -300px;
				@media #{$medium-up} {
					right: 0;
				}
			}
		}
	}

	#equipe {
		background: $beige;
		padding: 40px 0;
		position: relative;
		header {
			@include grid-column(12);
		}
		h4 {
			font-size: rem-calc(45);
			text-transform: none;

			font-size: $h2-font-size - $h2-font-reduction;
			@media #{$medium-up} {
				font-size: $h2-font-size - $h2-font-reduction;
			}
		}
		.content {
			@include grid-row();
		}
		&:before {
			position: absolute;
			top: 150px;
			content: '';
			display: block;
			width: 100%;
			height: 100px;
			background: rgba(255,255,255,0.2);
		}
		.profil {
			position: relative;
			z-index: 2;
			@include grid-column(12);
			@media #{$medium-up} {
				@include grid-column(6);
			}
			.bar {
				top: 100px;
				position: absolute;
				z-index: 1;
				display: block;
				width: 280px;
				height: 10px;
				left: 50%;
				margin-left: -140px;
				border-top: solid 1px white;
				border-bottom: solid 1px white;
				transform: rotate(-30deg);
				transition: all 0.5s ease;
			}
		}
		img {
			width: 204px;
			height: auto;
			border: solid 8px white;
			border-radius: 208px;
			margin: 30px auto;
			display: block;	
			position: relative;
			z-index: 10;
		}
	}



	/**
	 * 4.2a Cours
	 * ------------------------------------
	 */
	
	#cours, #sports-aeriens {
		@include grid-column(12);
		header {
			@media #{$medium-up} {
				@include grid-column(12);
			}
		}
	}

	#cours {
		@include grid-column(12);
		header {
			background: rgba(255,255,255,0.6);
		}
		article {
			@media #{$medium-up} {
				@include grid-column(6);
				&.col-1 {
					background: rgba(255,255,255,0.6);
					padding-bottom: 40px;
				}
				&.col-2 {
					background: rgba(255,255,255,0.6);
				}	
			}
		}
		background-image: url('../assets/img/images/bg-cours.jpg');
		background-repeat: no-repeat;
		background-position: 80% -200px;

		h3 {
			margin-bottom: 20px;
		}
	}

	/**
	 * 4.2b Sports aeriens
	 * ------------------------------------
	 */

	#sports-aeriens {
		@include grid-column(12);
		> div {
			padding-top: 60px;
			background: rgba(239, 237, 237, 0.7);
		}
		article {
			padding-bottom: 80px;
			@media #{$medium-up} {
				@include grid-column(6);
			}
		}
		background-image: url('../assets/img/images/bg-sports-aeriens.jpg');
		background-repeat: no-repeat;
		background-position: center center;

		h3 {
			margin-bottom: 20px;
		}
	}


	/**
	 * 4.3 Evenements
	 * ------------------------------------
	 */

	#events {
		background-image: url('../assets/img/images/bg-event.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		clear: both;

		.event {
			@include grid-row;
		}
		
		#event-1 {
			padding-top: 40px;
			background: white;
			.button {
				float: right;
			}

			article, header {
				@include grid-column(12);
			}
		}

		#event-2 {
			padding: 20px 0;
			background: white;
			background: rgba(248,243,239,0.9);
			article {
				@include grid-column(12);
				@media #{$medium} {
					@include grid-column(6);
				}
			}
		}

		#event-3 {
			padding-bottom: 20px;
			background: white;
			background: rgba(255,255,255,0.9);
			h3 {
				padding-top: 100px;
				margin-top: -80px;
			}
			article {
				@include grid-column(12);
			}
		}
	}

 
	/**
	 * 4.4 Tarifs
	 * ------------------------------------
	 */

	 #tarifs {
	 	padding-top: 45px;
		position: relative;
		
		overflow: hidden;
		display: block;
		background-color: white;
		background-image: url('../assets/img/images/bg-gradient.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;

		article {
			background: rgba(255,255,255,0.8);	
			padding-bottom: 30px;
		}

		.abonnements {
			@include grid-column(12);
			@media #{$medium-up} {
				@include grid-column(6);
			}
		}

		h2 {
			margin: 20px 0 10px 0;
		}

		p {
			margin: 0;
		}

		ul {
			margin: 10px 0 0 0;
			padding: 0;
			list-style-type: none;
			font-weight: 600;
			font-size: rem-calc(14);
			.formule {
				color: $primary-color;
			}
		} 

		@media #{$medium-up} {
			height: 710px;
		}
	}

	#dance-tarif {
		display: none;

		@media #{$medium-up} {
			background: url('../assets/img/images/tarifs.png') 0 -320px no-repeat;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -254px;
			width: 608px;
			height: 1295px;
			display: block;
		}
	}  


	/**
	 * 4.5 Contact
	 * ------------------------------------
	 */


	#contact {
		background: #ab988d;		
		position: relative; 
		@media #{$medium-up} {
			padding-top: 30px;
		}

		.formulaire {
			@include grid-row();
		}

		article {
			@include grid-column(12);
			@media #{$medium-up} {
				@include grid-column(6);
			}
			position: relative;
			z-index: 100;
			background: #ab988d;
		}
		 
		h2 {
			text-transform: none;
			color: white;
			text-align: center;
			margin: 10px 0 0;
			border-bottom: solid 1px white;
			&:before {
				content: '';
			}
		}
		> div {
			padding: 20px 0;
		}

		.button {
			margin-bottom: 0;
			float: right;
			margin-bottom: 20px;
			&:focus, &:active {
				outline: none;
			}
		}

		form {
			padding: 20px 0;
			overflow: hidden;
		}

		.request {
			color: white;
			margin-bottom: 0;
		}

		address {
			clear: both;
			border-top: solid 1px white;
			padding-top: 10px;
			font-size: $paragraph-font-size;
			font-style: normal;
			line-height: $paragraph-line-height;
			color: white;
			text-align: center;

			a {
				color: white;
				text-decoration: underline;
			}
		}
	}

	#confirm-message {
		display: none;
		text-align: center;
		color: #fff;
		position: absolute;
		z-index: 20;
		top: 340px;
		left: 20px;
		right: 20px;
		background: darken($secondary-color, 10%);
		border-radius: 4px;
		overflow: hidden;
		margin: 0;
		padding: 14px 28px 14px 6px;
		p {
			color: #fff;
			margin: 0;
		}
		.close {
			position: absolute;
			top: 5px;
			right: 5px;
			cursor: pointer;
			color: darken($secondary-color, 10%);
			font-weight: bold;
			background: #fff;
			width: 20px;
			height: 20px;
			display: block;
			text-align: center;
			border-radius: 2px;
			line-height: 17px;
		}
		&.error {
			background: $primary-color;
			.close {
				background: #fff;
				color: $primary-color;
			}
		}
	}

	#map_zone {
		display: none;
		@media #{$medium-up} {
			display: block;
			position: absolute;
			z-index: 10;
			left: 0;
			right: 0;
			top: 0;
			width: 100%;
			height: 600px;
		} 
	}


/**
 * 5.0 Portfolio
 * ----------------------------------------------------------------------------
 */

.category {
	background: $beige;
}

#portfolio { 
	@include grid-row;
	header, article {
		@include grid-column(12);
	}
	header {
		margin-top: 80px;
	}

	h3 {
		margin-bottom: 30px;
	} 

	dl {
		@include grid-column(6);
		@media #{$small-up} {
			@include grid-column(4);
		}
		@media #{$medium} {
			@include grid-column(3);
		}
	}
}


/**
 * 6.0 Page 404
 * ----------------------------------------------------------------------------
 */
.error, .article {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 46.25rem; 
}
.error:before, .error:after, .article:before, .article:after {
	content: " ";
	display: table; 
}
.error:after, .article:after {
	clear: both; 
}
.error article, .article article {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	width: 100%;
	float: left;
	padding-top: 80px;
}

/**
 * 7.0 Planning
 * ----------------------------------------------------------------------------
 */
#planning-table {
	min-width: 540px;
	padding: 40px;
	position: relative;

	table {
		border-collapse: collapse;
		width: 100%; 
		
		span {
			display: block;
			line-height: 140%; 
		}
		br {
			display: none;
		}
		td {
			padding: 10px 5px;
			width: 20%;
			text-align: center;
			font-size: 75%;
			border: solid 1px #6f6f6f;
		}
		th {
			background: none;
			font-weight: normal;
			text-align: center;
			text-transform: uppercase;
			padding-bottom: 10px; 
		}
		.horaire {
			color: #ed1a5d;
			font-size: 16px;
			font-weight: 600;
		}
		.cours {
			font-size: 14px;
			font-weight: 600;
		}
		.niveau {
			font-size: 11px;
		}
	}
}

.mfp-ajax-holder .mfp-content {
  max-width: 1000px;
  background: white;
  overflow-x: scroll; 
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
 }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #cccccc; }
    .mfp-preloader a:hover {
      color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65;
	padding: 0 0 18px 10px;
	color: white;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace; 
	&:before {
		content: '';
	}
}
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: $primary-color; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444; }
  .mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure {
    /* The shadow behind the image */ }
    .mfp-img-mobile .mfp-figure:after {
      top: 0;
      bottom: 0; }
    .mfp-img-mobile .mfp-figure small {
      display: inline;
      margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: $primary-color;
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
// Insert styles here